body{
    background-color: rgb(4, 211, 211);
}
main{
    background-image: url(https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630);
    margin: 50px;
    height: 500px;
    
}
.button{
    text-align: center;
    margin-top: 50px;
}
